.wd-kanbas-navigation {
    list-style: none;
    padding: 0px;
    background: black;
    width: 80px;

}

.wd-kanbas-navigation li {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation li a {
    color: white;
    text-decoration:none;
}